.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
  text-decoration: none;
}

.feynman__link:hover {
  text-decoration: underline;
}
