.khan__buy-link {
  align-self: start;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  text-decoration: underline;
}
